.border {
	width: 398px ;
	height: 548px;
	border: 1px solid;
}
.name {
	height: 70px;
	text-align: center;
	font-size: 22pt;
	font-family: tahoma;
}
img {
	height: 270px;
	width: 251px;
	margin: 0px 0px 30px 76px;
}
.inf {
	height: 170px;
}
.credit {
	height: 40px;
	width: 190px;
	margin: 0px 0px 20px 1px;
	color: #fff7f7;
	text-align: center;
	font-size: 22pt;
	font-family: tahoma;	
	background: #8bc144; left;
}
span {
	height: 80px;
	width: 400px;
	margin: 0px 0px 0px 130px;
	text-align: center;
	font-size: 31pt;
	font-family: tahoma;
}
button {
	height: 50px;
	width: 228px;
	margin: 10px 0px 10px 76px;
	color: #fff7f7;
	text-align: center;
	font-size: 28pt;
	font-family: tahoma;	
	background: #FF0000; center;
}
p {
	margin: auto;
}

